/* 通用样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  header h1 {
    font-size: 2.5em;
    margin-top: 0;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* 页脚样式 */
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  /* 响应式设计 */
  @media screen and (max-width: 600px) {
    header h1 {
      font-size: 2em;
    }
  
    button {
      padding: 12px 24px;
      font-size: 1em;
    }
  }
  
